{% extends 'base.html' %}
<!---->
{% block title %}Home{% endblock %}
<!---->
{% block content %}
<div class="container">
  {% for service in services %}
  <div class="row my-4">
    <div class="col">
      <section id="section-{{ service.id }}" class="section-service card">
        <div class="section-service__div-logo card-header color-bg-secondary">
          {% if theme == 'dark' %}
          <img src="{{ service.dark_theme_image }}" alt="service.name" height="72" />
          {% else %}
          <img src="{{ service.light_theme_image }}" alt="service.name" height="72" />
          {% endif %}
        </div>
        <div class="section-service__div-movies card-body container" data-service="{{ service.id }}">
          <div class="row">
            <div class="col-auto p-0 my-auto">
              <i class="btn btn-lg bi bi-arrow-left-circle-fill bi-arrow--hidden"></i>
            </div>
            <div class="col container text-center">
              <ul class="section-service__list-movies row m-0 list-unstyled">
                <li class="col">Loading Movies...</li>
              </ul>
            </div>
            <div class="col-auto p-0 my-auto">
              <i class="btn btn-lg bi bi-arrow-right-circle-fill bi-arrow--hidden"></i>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
<!---->
{% block scripts %}
<script src="/static/moviePosters.js" defer></script>
<script src="/static/home.js" defer></script>
{% endblock %}
