<form method="POST">
  {{ form.hidden_tag() }}
  {% for field in form if field.widget.input_type != "hidden" %}
  <div class="form-floating mb-3">
    {% if field.errors %}
      {% set feedback_id = field.id.replace('_', '-') + '-feedback' %}

      {{ field(**{
        'class_': 'form-control is-invalid',
        'aria-describedby': feedback_id
      }) }}
    {% else %}
      {{ field(class_="form-control") }}
    {% endif %}

    {{ field.label }}

    {% for error in field.errors %}
      <span id="{{ feedback_id }}" class="text-danger">{{ error }}</span>
    {% endfor %}
  </div>
  {% endfor %}
  <button class="btn btn-primary" type="submit">Submit</button>
</form>